# DATABASE
DB_USERNAME=
DB_PASSWORD=
DB_NAME=postgres

# Note: The database name at the end of the URL must match DB_NAME
DB_URL=jdbc:postgresql://db:5432/postgres

# TELEGRAM
TG_USERNAME_BOT=example_name_bot
TG_BOT_TOKEN=
TG_API_BASE_URL=https://api.telegram.org

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379

# APP (no slash in the end)
APP_BASE_URL=https://your-domain.com

# AERODATABOX API (RapidAPI)
AERODATABOX_API_KEY=
AERODATABOX_API_HOST=aerodatabox.p.rapidapi.com
AERODATABOX_API_BASE_URL=https://aerodatabox.p.rapidapi.com
